{% extends 'base.html.twig' %}
{% block body %}
    <h1>Welcome to the zoo simulator 🐘 🦒 🐒</h1>
    <h2>Current time is {% if time < 24 %}{{ time }}{% else %}{{ time%24 }}{% endif %}:00</h2>

    <div class="container">
        <a href="Zoo/addHour">
            <button type="button" class="btn btn-outline-warning">⏩</button>
        </a>
        <a href="Zoo/feedAnimals">
            <button type="button" class="btn btn-outline-info">Feed Animals</button>
        </a>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for key, type in zoo %}
                <div class="col">
                    <h2>{{ key }}</h2>
                    {% for animal in type %}
                        {% if animal.isAlive %}
                            <div class="row">
                                <div class="col-2">
                                    <h2>{{ animal.icon }}</h2>
                                </div>
                                <div class="col-10">
                                    <div class="progress" style="height: 10px">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{ animal.health }}%"
                                             aria-valuenow="{{ animal.health }}" aria-valuemin="0"
                                             aria-valuemax="100">{{ animal.health|round(2, 'floor') }}%
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col"><h2>💀</h2></div>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>

    <a href="Zoo/restartZoo">
        <button type="button" class="btn">🔄</button>
    </a>
{% endblock %}
