<!DOCTYPE html>
<html lang="es-Co">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenido!{% endblock %}</title>
    <link rel="icon" href="https://bitbucket-assetroot.s3.amazonaws.com/c/photos/2018/Dec/13/2351449547-5-father-logo_avatar.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    {% block stylesheets %}
        <style>
            body {
                font-family: monospace;
            }
        </style>
    {% endblock %}
</head>
<body>
<!-- Page Wrapper -->
<div id="wrapper" class="container col-xs-12" style="padding: 15px">
    {% block body %}{% endblock %}
</div>
<!-- End of Page Wrapper -->
{% block javascripts %}
    <script>
    </script>
{% endblock %}
</body>
</html>
